# ----------------------------
# Logs
# ----------------------------
log_files/
*.log

# ----------------------------
# Python cache
# ----------------------------
__pycache__/
*.pyc
*.pyo

# ----------------------------
# Environment / secrets
# ----------------------------
.env
*.key
*.token

# ----------------------------
# Excel temp files
# ----------------------------
~$*.xlsx

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# Ignore CSV instrument dumps
*.csv
