[Unit]
Description=Delta Engine
After=network.target

[Service]
User=root
WorkingDirectory=/root/Dhan-codebase
ExecStart=/root/Dhan-codebase/venv/bin/python -m run.main --venue DELTA
Restart=always
RestartSec=5
StandardOutput=append:/root/delta.log
StandardError=append:/root/delta.err.log

[Install]
WantedBy=multi-user.target
